In [10]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import re
import string

In [11]:
data_fake = pd.read_csv('Fake.csv')
data_true = pd.read_csv('True.csv')
# reading the datasets

In [12]:
data_fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [13]:
data_true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [14]:
data_fake["class"] = 0
data_true["class"] = 1
#adding class 0 to fake news and 1 to true news

In [15]:
data_fake.shape, data_true.shape
#gives dimension of csv

((23481, 5), (21417, 5))

In [16]:
data_fake_manual_testing = data_fake.tail(10)
for i in range(23480, 23470, -1):
    data_fake.drop([i], axis = 0, inplace = True)

data_true_manual_testing = data_true.tail(10)
for i in range(21416, 21406, -1):
    data_true.drop([i], axis = 0, inplace = True)

In [17]:
data_fake.shape, data_true.shape

((23471, 5), (21407, 5))

In [18]:
data_fake_manual_testing["class"] = 0
data_true_manual_testing["class"] = 1

/var/folders/v6/2yx37v7n181c5jqyypt1lvj40000gn/T/ipykernel_10860/4042680642.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_fake_manual_testing["class"] = 0
/var/folders/v6/2yx37v7n181c5jqyypt1lvj40000gn/T/ipykernel_10860/4042680642.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_true_manual_testing["class"] = 1

In [19]:
data_fake_manual_testing.head(10)

,title,text,subject,date,class
23471,Seven Iranians freed in the prisoner swap have...,"21st Century Wire says This week, the historic...",Middle-east,"January 20, 2016",0
23472,#Hashtag Hell & The Fake Left,By Dady Chery and Gilbert MercierAll writers ...,Middle-east,"January 19, 2016",0
23473,Astroturfing: Journalist Reveals Brainwashing ...,Vic Bishop Waking TimesOur reality is carefull...,Middle-east,"January 19, 2016",0
23474,The New American Century: An Era of Fraud,Paul Craig RobertsIn the last years of the 20t...,Middle-east,"January 19, 2016",0
23475,Hillary Clinton: ‘Israel First’ (and no peace ...,Robert Fantina CounterpunchAlthough the United...,Middle-east,"January 18, 2016",0
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [20]:
data_true_manual_testing.head(10)

,title,text,subject,date,class
21407,"Mata Pires, owner of embattled Brazil builder ...","SAO PAULO (Reuters) - Cesar Mata Pires, the ow...",worldnews,"August 22, 2017",1
21408,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21409,"U.S., North Korea clash at U.N. arms forum on ...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21410,Headless torso could belong to submarine journ...,COPENHAGEN (Reuters) - Danish police said on T...,worldnews,"August 22, 2017",1
21411,North Korea shipments to Syria chemical arms a...,UNITED NATIONS (Reuters) - Two North Korean sh...,worldnews,"August 21, 2017",1
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [21]:
data_merge = pd.concat([data_fake, data_true], axis = 0)
data_merge.shape

#merging the datasets

(44878, 5)

In [22]:
data_merge.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [23]:
data = data_merge.drop(["subject", "date"], axis = 1)
#dropping unnecessary columns

In [24]:
data.isnull().sum()
#check for null rows

title    0
text     0
class    0
dtype: int64

In [25]:
data = data.sample(frac = 1)
data.head()

#random shuffling the dataset

,title,text,class
19586,Belarus plays down Western fears of aggression...,"BORISOV FIRING RANGE, Belarus (Reuters) - Bela...",1
8497,How Electable Is Bernie Sanders? A Skeptic’s ...,The great Robert Reich posted a new whiteboard...,0
16023,U.S. sees China in 'retrenchment' on move towa...,WASHINGTON (Reuters) - The United States belie...,1
12741,"WIKILEAKS: CLINTON CAMPAIGN CHAIRMAN Held 75,0...",The disclosure that Clinton Chair John Podest...,0
9201,"Bernie Sanders-style, grassroots effort a like...",NEW YORK (Reuters) - Donald Trump’s presidenti...,1

In [26]:
data.reset_index(inplace = True)
data.drop(['index'], axis = 1, inplace = True)

In [27]:
data.columns

Index(['title', 'text', 'class'], dtype='object')

In [28]:
data.head()

,title,text,class
0,Belarus plays down Western fears of aggression...,"BORISOV FIRING RANGE, Belarus (Reuters) - Bela...",1
1,How Electable Is Bernie Sanders? A Skeptic’s ...,The great Robert Reich posted a new whiteboard...,0
2,U.S. sees China in 'retrenchment' on move towa...,WASHINGTON (Reuters) - The United States belie...,1
3,"WIKILEAKS: CLINTON CAMPAIGN CHAIRMAN Held 75,0...",The disclosure that Clinton Chair John Podest...,0
4,"Bernie Sanders-style, grassroots effort a like...",NEW YORK (Reuters) - Donald Trump’s presidenti...,1

In [29]:
def wordopt(text):
    text = text. lower()
    text = re.sub('\[ .*? \]', '', text)
    text = re.sub("\\W", " ", text)
    text = re.sub('https ?: //\S+|www\.\S+', '', text)
    text = re.sub(' <.*? >+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text

#this function basically processes the news text to remove special characters, links or extra unnecessary stuffs

<>:3: SyntaxWarning: invalid escape sequence '\['
<>:5: SyntaxWarning: invalid escape sequence '\S'
<>:9: SyntaxWarning: invalid escape sequence '\w'
<>:3: SyntaxWarning: invalid escape sequence '\['
<>:5: SyntaxWarning: invalid escape sequence '\S'
<>:9: SyntaxWarning: invalid escape sequence '\w'
/var/folders/v6/2yx37v7n181c5jqyypt1lvj40000gn/T/ipykernel_10860/2581723026.py:3: SyntaxWarning: invalid escape sequence '\['
  text = re.sub('\[ .*? \]', '', text)
/var/folders/v6/2yx37v7n181c5jqyypt1lvj40000gn/T/ipykernel_10860/2581723026.py:5: SyntaxWarning: invalid escape sequence '\S'
  text = re.sub('https ?: //\S+|www\.\S+', '', text)
/var/folders/v6/2yx37v7n181c5jqyypt1lvj40000gn/T/ipykernel_10860/2581723026.py:9: SyntaxWarning: invalid escape sequence '\w'
  text = re.sub('\w*\d\w*', '', text)

In [30]:
data['title'] = data['title'].apply(wordopt)

In [31]:
x = data['title']
y = data['class']

In [32]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25)


"""
train_test_split(x, y, test_size=0.25) is a function that splits the dataset into training and testing sets.
It takes the feature variables (x) and target variable (y) as input and returns four variables: x_train, x_test, y_train, and y_test.
x_train: The subset of feature variables used for training the model.
x_test: The subset of feature variables used for testing the model.
y_train: The subset of target variable values corresponding to x_train, used for training.
y_test: The subset of target variable values corresponding to x_test, used for testing.
"""

'\ntrain_test_split(x, y, test_size=0.25) is a function that splits the dataset into training and testing sets.\nIt takes the feature variables (x) and target variable (y) as input and returns four variables: x_train, x_test, y_train, and y_test.\nx_train: The subset of feature variables used for training the model.\nx_test: The subset of feature variables used for testing the model.\ny_train: The subset of target variable values corresponding to x_train, used for training.\ny_test: The subset of target variable values corresponding to x_test, used for testing.\n'

In [33]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(x_train)
xv_test = vectorization.transform(x_test)

"""
The fit_transform method is called on the vectorization object with the training data x_train.
This method learns the vocabulary from the training data and transforms the training data into a document-term matrix with TF-IDF features.
The resulting matrix is assigned to the variable xv_train.
The transform method is used to transform the test data (x_test) into a document-term matrix using the vocabulary learned from the training data.
The resulting matrix is assigned to the variable xv_test.
"""

'\nThe fit_transform method is called on the vectorization object with the training data x_train.\nThis method learns the vocabulary from the training data and transforms the training data into a document-term matrix with TF-IDF features.\nThe resulting matrix is assigned to the variable xv_train.\nThe transform method is used to transform the test data (x_test) into a document-term matrix using the vocabulary learned from the training data.\nThe resulting matrix is assigned to the variable xv_test.\n'

In [69]:
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression().fit(xv_train, y_train)
LR.fit(xv_train, y_train)

"""
this code sets up a logistic regression model, fits it to the TF-IDF features of the training data (xv_train) and their corresponding labels (y_train).
The trained model (LR) can then be used to make predictions on new text data or evaluate its performance on a test set.
"""

'\nthis code sets up a logistic regression model, fits it to the TF-IDF features of the training data (xv_train) and their corresponding labels (y_train).\nThe trained model (LR) can then be used to make predictions on new text data or evaluate its performance on a test set.\n'

In [70]:
pred_lr = LR.predict(xv_test)

In [71]:
LR.score(xv_test, y_test)

0.9543672014260249

In [72]:
print(classification_report(y_test, pred_lr))

              precision    recall  f1-score   support

           0       0.97      0.95      0.96      5907
           1       0.94      0.96      0.95      5313

    accuracy                           0.95     11220
   macro avg       0.95      0.95      0.95     11220
weighted avg       0.95      0.95      0.95     11220

In [73]:
from sklearn.tree import DecisionTreeClassifier

DT = DecisionTreeClassifier().fit(xv_train, y_train)
DT.fit(xv_train, y_train)

In [74]:
pred_dt = DT.predict(xv_test)

In [75]:
DT.score(xv_test, y_test)

0.9207664884135472

In [76]:
print(classification_report(y_test, pred_dt))

              precision    recall  f1-score   support

           0       0.92      0.93      0.92      5907
           1       0.92      0.91      0.92      5313

    accuracy                           0.92     11220
   macro avg       0.92      0.92      0.92     11220
weighted avg       0.92      0.92      0.92     11220

In [77]:
from sklearn.ensemble import GradientBoostingClassifier
GB = GradientBoostingClassifier(random_state = 0).fit(xv_train, y_train)
GB.fit(xv_train, y_train)

In [78]:
pred_gb = GB.predict(xv_test)

In [79]:
GB.score(xv_test, y_test)

0.893048128342246

In [80]:
print(classification_report(y_test, pred_gb))

              precision    recall  f1-score   support

           0       0.96      0.83      0.89      5907
           1       0.84      0.96      0.89      5313

    accuracy                           0.89     11220
   macro avg       0.90      0.90      0.89     11220
weighted avg       0.90      0.89      0.89     11220

In [81]:
from sklearn.ensemble import RandomForestClassifier
RF = RandomForestClassifier(random_state = 0).fit(xv_train, y_train)
RF.fit(xv_train, y_train)

In [82]:
pred_rf = RF.predict(xv_test)

In [83]:
RF.score(xv_test, y_test)

0.9525846702317291

In [84]:
print(classification_report(y_test, pred_rf))

              precision    recall  f1-score   support

           0       0.96      0.95      0.95      5907
           1       0.94      0.96      0.95      5313

    accuracy                           0.95     11220
   macro avg       0.95      0.95      0.95     11220
weighted avg       0.95      0.95      0.95     11220

In [85]:
def output_lable(n):
    if n == 0:
        return "Fake News"
    elif n == 1:
        return "Not A Fake News"
def manual_testing(news: str):
    testing_news = {"text": [news]}
    new_def_test = pd.DataFrame(testing_news)
    new_def_test["text"] = new_def_test["text"].apply(wordopt)
    new_x_test = new_def_test["text"]
    new_xv_test = vectorization.transform(new_x_test)
    pred_LR = LR.predict(new_xv_test)
    pred_DT = DT.predict(new_xv_test)
    pred_GB = GB.predict(new_xv_test)
    pred_RF = RF.predict(new_xv_test)
    print("\n\nLR Prediction: {} \nDT Prediction: {} \nGB Prediction: {} \nRF Prediction: {}".format(output_lable(pred_LR[0]), output_lable(pred_DT[0]), output_lable(pred_GB[0]), output_lable(pred_RF[0])))

In [101]:
stri="Uttarakhand tunnel rescue: Manual drilling to begin tomorrow once auger machine is extracted."
manual_testing(stri)

LR Prediction: Not A Fake News
DT Prediction: Fake News
GB Prediction: Fake News
RF Prediction: Fake News

In [102]:
from joblib import dump,load

In [103]:
dump(DT,'DT.joblib')
dump(LR,'LR.joblib')
dump(GB,'GB.joblib')
dump(RF,'RF.joblib')

['RF.joblib']

In [104]:
model1=load('DT.joblib')

In [105]:
stri="Cristiano Ronaldo moves back to Real Madrid."
testing_news = {"text": [stri]}
new_def_test = pd.DataFrame(testing_news)
new_def_test["text"] = new_def_test["text"].apply(wordopt)
new_x_test = new_def_test["text"]
new_xv_test = vectorization.transform(new_x_test)

In [106]:
model1.predict(new_xv_test)[0]

0